// Copy this file to Secrets.xcconfig and fill in your Discogs developer credentials.
// Register your app at https://www.discogs.com/settings/developers
// Set the callback URL to: discoscan:/oauth/callback

DISCOGS_CONSUMER_KEY = your_consumer_key_here
DISCOGS_CONSUMER_SECRET = your_consumer_secret_here
DISCOGS_CALLBACK_URL = discoscan:/oauth/callback
DISCOGS_USER_AGENT = DiscoScan/1.0 +https:/github.com/DamienThomp/DiscoScan
